<div class="card">
  <figure class="movieCard">
    <img
      src="https://image.tmdb.org/t/p/w500{{ movie.backdrop_path }}"
      alt=""
    />

    <div class="titleInfo">
      <div class="row">
        <div class="col-10">
          <h2 class="mb-0">{{ movie.title || movie.original_title }}</h2>
        </div>
        <div class="col-2">
          <h3
            [ngClass]="{
              'badge-success': movie.vote_average >= 7,
              'badge-warning':
                movie.vote_average >= 5 && movie.vote_average < 7,
              'badge-danger': movie.vote_average < 5
            }"
            class="badge mb-0"
          >
            {{ movie.vote_average }}
          </h3>
        </div>
      </div>
    </div>

    <div class="overview">
      <h3>{{ movie.title || movie.original_title }}</h3>
      <hr />
      <p>
        {{ movie.overview }}
      </p>
    </div>
  </figure>
</div>
