
.movieCard {
  height: 350px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .titleInfo {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: grey;
    padding: 12px;
    height: 55px;
    h2 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .overview {
    padding: 15px;
    position: absolute;
    top: 30%;
    left: 0;
    height: 54.4%;
    overflow-y: auto;
    // background-color: rgb(138, 43, 226, 0.7);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    // transform: translateY(150%);
    transform: scale(0.5);
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
}

.movieCard:is(:hover, :focus, :active) .overview {
  transform: scale(1);
  opacity: 1;
}
